==========================
C# .NET İÇİN
==========================
[Bb]in/
[Oo]bj/
.vs/
*.log
*.user
*.suo


==========================
Phyton İçin
==========================
__pycache__/
*.py[cod]
*.pyc
venv/
.venv/
env/
.env
*.egg-info/
dist/
build/

==========================
EDITOR İÇİN
==========================
.vscode/
.idea/